<div
  class="bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text min-h-screen"
>
  <section class="2xl:container 2xl:mx-auto">
    <a routerLink="/">
      <button
        class="mt-12 mb-8 ml-12 py-1 px-6 rounded shadow-skin text-base bg-light-element dark:bg-dark-element"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 inline"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            strokeWidth="{2}"
            d="M7 16l-4-4m0 0l4-4m-4 4h18"
          />
        </svg>
        Back
      </button>
    </a>
    <main
      *ngIf="loading"
      class="min-h-screen flex flex-col justify-start items-center pt-32"
    >
      <app-loader></app-loader>
    </main>

    <article
      key="{name.official}"
      class="text-base mt-10 py-4 px-10 md:flex gap-20 md:justify-around"
    >
      <div class="md:w-[40%]">
        <app-loader
          *ngIf="!country.flag"
          class="min-h-screen flex flex-col justify-start items-center pt-32"
        ></app-loader>
        <img src="{{ country.flag }}" alt="" class="mb-10" />
      </div>
      <section>
        <h1 class="font-NSEB text-xl pb-6">{{ country.name.official }}</h1>
        <section class="md:flex md:justify-between gap-10 mb-10">
          <div>
            <p>
              <span class="font-NSSB">Common Name:</span>
              {{ country.name.common }}
            </p>
            <p>
              <span class="font-NSSB">Population:</span>
              {{ country.population }}
            </p>
            <p><span class="font-NSSB">Region:</span> {{ country.region }}</p>
            <p>
              <span class="font-NSSB">Sub Region:</span> {{ country.subregion }}
            </p>
            <p><span class="font-NSSB">Capital:</span> {{ country.capital }}</p>
          </div>
          <div>
            <p class="pt-6">
              <span class="font-NSSB">Top Level Domain: </span>
              {{ country.tld }}
            </p>
            <div>
              <span class="font-NSSB">Currencies: </span>

              <p *ngFor="let currency of currencies" class="inline-block pr-1">
                {{ currency.name }} {{ currency.symbol }},
              </p>
            </div>
            <p>
              <span class="font-NSSB">Languages: </span>
              <span *ngFor="let lan of languages">{{ lan }} </span>
            </p>
          </div>
        </section>
        <div class="py-6 lg:inline">
          <span class="font-NSSB">Border Countries: </span>

          <div *ngIf="country.borders" class="flex justify-center">
            <a
              *ngFor="let border of country.borders"
              [routerLink]="['/country']"
              [queryParams]="{ cioc: border }"
              class="my-4 mx-2 py-1 px-2 rounded shadow-skin text-base hover:bg-dark-bg hover:text-white dark:hover:bg-light-bg dark:hover:text-black bg-light-element dark:bg-dark-element cursor-pointer"
            >
              <p>{{ border }}</p>
            </a>
          </div>

          <span *ngIf="!country.borders" class="inline">None</span>
        </div>
      </section>
    </article>
  </section>
</div>
